@model IEnumerable<Ja.Models.Kund>

@{
    ViewBag.Title = "Profil";
}

<link href="~/Content/profil.css" rel="stylesheet" />


<div class="toppen">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="column">
                <div class="card">
                    <div class="container" style="text-align:center">
                        <img src="~/images/user.png" style="padding-top:10px" />
                        <h2>@Html.DisplayFor(modelItem => item.Email)</h2>
                        <p class="title brheight">
                            <div style="font-weight:bold">@Html.DisplayFor(modelItem => item.Fornamn) @Html.DisplayFor(modelItem => item.Efternamn)</div>
                            <label style="font-weight:bold">Telefon-Nr:</label> @Html.DisplayFor(modelItem => item.TelefonNr)<br />
                            <label style="font-weight:bold">Person-Nr:</label> @Html.DisplayFor(modelItem => item.PersonNr)<br />
                            <label style="font-weight:bold">Bonuspoäng:</label> @Html.DisplayFor(modelItem => item.Bonuspoang)<br />
                        </p>
                        <input class="button" value="Logga ut" onclick="location.href='@Url.Action("LogOut", "Login")'" />
                    </div>

                </div>

            </div>
        }
    </div>
</div>

@{
    if (TempData["login"] != null)
    {
        <script type="text/javascript">
                alert(@Html.Raw(Json.Encode(TempData["login"])))
        </script>
    }
}