@model IEnumerable<Ja.Models.Filmer>

@{
    ViewBag.Title = "Index";
}

<h2>Information om filmer</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speltid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aldergrans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beskrivning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utgivningsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huvudregissor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speltid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aldergrans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utgivningsdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huvudregissor)
        </td>
       
    </tr>
}

</table>
