@model IEnumerable<Ja.Models.Filmer>

@{
    ViewBag.Title = "Index";
}

@*<link href="~/Content/filminfo.css" rel="stylesheet" />*@
@*<link href="~/Content/filminfo.css" rel="stylesheet" />*@
<link href="~/Content/filmlista.css" rel="stylesheet" />


@*<h2 style="text-align:center">Our Team</h2>*@
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card">
                @*<img src="" />*@
                <div class="container" style="text-align:center">
                    <h2>@Html.DisplayFor(modelItem => item.Titel)</h2>
                    <img src="@Html.DisplayFor(modelItem => item.Filmbild)" />
                    <p class="title brheight">
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Speltid):</label> @Html.DisplayFor(modelItem => item.Speltid) <br />
                        <label style="font-weight:bold">Åldersgräns:</label> @Html.DisplayFor(modelItem => item.Aldergrans) <br />
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Genre):</label> @Html.DisplayFor(modelItem => item.Genre) <br />
                        <label style="font-weight:bold">Språk:</label> @Html.DisplayFor(modelItem => item.Sprak) <br />
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Utgivningsdatum):</label> @Html.DisplayFor(modelItem => item.Utgivningsdatum) <br />
                        <label style="font-weight:bold">Huvudregissör:</label> @Html.DisplayFor(modelItem => item.Huvudregissor) <br />
                    </p>
                    <p>@Html.DisplayFor(modelItem => item.Beskrivning)</p>
                    @*<p>@Html.ActionLink("Schema", "VisningsSchema", "Biljett", new { titel = item.Titel }, null)</p>*@
                </div>
                <form method="post" action="@Url.Action("VisningsSchema", "Biljett", new { titel = item.Titel })">
                    @*<input type="hidden" id="@item.Titel" />*@
                    <div class="sub_div">
                        <input class="button" type="submit" value="Schema" />
                    </div>
                </form>
                @*<div class="sub_div">
                    <div class="button">
                        @Html.ActionLink("Schema", "VisningsSchema", "Biljett", new { titel = item.Titel }, null)
                    </div>
                </div>*@
                

            </div>

        </div>
    }
</div>





@*<table class="table table-test">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aldergrans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utgivningsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Huvudregissor)
            </th>
            <th
                    >@Html.DisplayNameFor(model => model.Filmbild)
                </th>
            <th>
                Visa Schema
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speltid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aldergrans)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beskrivning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sprak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utgivningsdatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Huvudregissor)
                </td>
                <td>
                        <img src="@Html.DisplayFor(modelItem => item.Filmbild)" />
                    </td>
                <td>
                    @Html.ActionLink("Schema", "VisningsSchema", "Biljett", new { titel = item.Titel }, null)
                </td>

            </tr>
        </tbody>
    }

</table>*@
