@model IEnumerable<Ja.Models.Filmer>

@{
    ViewBag.Title = "Film";
}

<link href="~/Content/filmlista.css" rel="stylesheet" />

<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card">
                <div class="container" style="text-align:center">
                    <h2>@Html.DisplayFor(modelItem => item.Titel)</h2>
                    <img src="@Html.DisplayFor(modelItem => item.Filmbild)" />
                    <p class="title brheight">
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Speltid):</label> @Html.DisplayFor(modelItem => item.Speltid) <br />
                        <label style="font-weight:bold">Åldersgräns:</label> @Html.DisplayFor(modelItem => item.Aldergrans) <br />
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Genre):</label> @Html.DisplayFor(modelItem => item.Genre) <br />
                        <label style="font-weight:bold">Språk:</label> @Html.DisplayFor(modelItem => item.Sprak) <br />
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Utgivningsdatum):</label> @Html.DisplayFor(modelItem => item.Utgivningsdatum) <br />
                        <label style="font-weight:bold">Huvudregissör:</label> @Html.DisplayFor(modelItem => item.Huvudregissor) <br />
                    </p>
                    <p>@Html.DisplayFor(modelItem => item.Beskrivning)</p>
                </div>
                <form method="post" action="@Url.Action("VisningsSchema", "Biljett", new { titel = item.Titel })">
                    <div class="sub_div">
                        <input class="button" type="submit" value="Schema" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>