@model Ja.Models.BokadePlatser

@{
    ViewBag.Title = "Boka";
}

    <link href="~/Content/filminfo.css" rel="stylesheet" />
<h2>Boka</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AntalBokadePlatser)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VisningsSchemaId)
        </th>*@
        @*<th></th>*@
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.AntalBokadePlatser)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.VisningsSchemaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
    
    <tr>
        <td>
            <form>
                <input type="text" id="@Model.Id" />
                <br />
                <input type="submit" />
            </form>
        </td>
    </tr>

</table>
