@model IEnumerable<Ja.Models.VisningsSchema>

@{
    ViewBag.Title = "Schema";
}
<link href="~/Content/schema.css" rel="stylesheet" />
<h1>Schema</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card">
                <div class="container" style="text-align:center">
                    <h2>@Html.DisplayFor(modelItem => item.FilmTitel)</h2>
                    <p class="title">
                        <label style="font-weight:bold">Salong:</label> @Html.DisplayFor(modelItem => item.SalongsNamn) <br />
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Visningstid):</label> @Html.DisplayFor(modelItem => item.Visningstid) <br />
                    </p>
                    <input class="button" value="Boka" onclick="location.href='@Url.Action("Boka", "Biljett", new { id = item.Id })'" />
                </div>
            </div>
        </div>
    }
</div>
