@model IEnumerable<Ja.Models.VisningsSchema>

@{
    ViewBag.Title = "Schema";
}
@*<link href="~/Content/filminfo.css" rel="stylesheet" />*@
<link href="~/Content/schema.css" rel="stylesheet" />
<h1>Schema</h1>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card">
                @*<img src="" />*@
                <div class="container" style="text-align:center">
                    <h2>@Html.DisplayFor(modelItem => item.FilmTitel)</h2>
                    <p class="title">
                        <label style="font-weight:bold">Salong:</label> @Html.DisplayFor(modelItem => item.SalongsNamn) <br />
                        <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Visningstid):</label> @Html.DisplayFor(modelItem => item.Visningstid) <br />
                    </p>
                    @*<p>@Html.ActionLink("Schema", "VisningsSchema", "Biljett", new { titel = item.Titel }, null)</p>*@
                    <input class="button" value="Schema" onclick="location.href='@Url.Action("Boka", "Biljett", new { id = item.Id })'" />
                </div>
                @*<div class="sub_div">
                    <a href="">content</a>
                </div>*@






                @*<form>
                    <div class="sub_div">
                        <input class="button" type="submit" value="Schema" onclick="" />
                    </div>
                </form>*@

                @*<form method="post" action="@Url.Action("Boka", "Biljett", new { id = item.Id })">
                    <input type="hidden" id="@item.Titel" />
                    <div class="sub_div">
                        <input class="button" type="submit" value="Schema" />
                    </div>
                </form>*@


            </div>

        </div>
    }
</div>
