@model Ja.Models.VisningsSchema

@{
    ViewBag.Title = "Schema";
}
    <link href="~/Content/filminfo.css" rel="stylesheet" />
<h2>VisningsSchema</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilmTitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalongsNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visningstid)
        </th>
        <th>
            Boka dina biljetter
        </th>
    </tr>

    @*@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmTitel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalongsNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visningstid)
                </td>
                <td>
                    @Html.ActionLink("Boka Biljett", "Boka", new { id=item.Id })
                </td>
            </tr>
        }*@

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.FilmTitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.SalongsNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Visningstid)
        </td>
        <td>
            @Html.ActionLink("Boka Biljett","Boka", new { id = Model.Id })
        </td>

    </tr>

</table>
